body {
    opacity: 0.9;
    background-image: url("/img/giphy.gif");
}

h1 {
    text-align: center;
    padding: 1cm;
    font-size: 40px;
    color: #d7ff00;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #d7ff5f;
    text-shadow: 2px 2px 5px white; 
}

button {
    padding: 0cm;
    margin-left: 2cm;
    margin-bottom: 1cm;
}