:root {
  --bg-color: #5465FF;
  --nav-bg-darker: #788BFF;
  --nav-bg-light: #9BB1FF;
  --font-color: #E2FDFF;
  --alt-white: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--bg-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
    background-color: var(--nav-bg-darker);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
}

nav a {
    display: block;
    color: var(--font-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: var(--nav-bg-light);
    color: var(--bg-color);
}


section {
  padding: 20px;
  width: 80%;
  text-align: center;
}

#header h1 {
  font-size: 6rem;
  padding-top: 10rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.content-wrapper, .video-wrapper, .book-wrapper {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
}

.sect, .video-sect, .book-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid var(--font-color);
  padding: 10px;
}

.collapse-content, .video-content, .book-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  padding: 0 10px;
  padding-top: 10px;
}

.collapse-content p, .video-content p, .book-content p {
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--nav-bg-darker);
  color: var(--alt-white);
  width: 100%;
}

i {
  transition: transform 0.2s ease-out;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.2s ease-out;
}

.date-summary {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 600px) {
  #header h1 {
      font-size: 2rem;
  }
  section {
      width: 95%;
  }
}
