:root {
  --bg-color: #fffffc;
  --nav-bg-darker: #000000;
  --nav-bg-light: #ff7f11;
  --font-color: #ffffff;
  --alt-white: #ffffff;
  --accent-color: #ff3f00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: var(--bg-color);
  color: var(--nav-bg-darker);
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  background-color: var(--nav-bg-darker);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
}

nav a {
  display: block;
  color: var(--font-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: var(--nav-bg-light);
  color: var(--alt-white);
}

section {
  padding: 20px;
  width: 80%;
  text-align: center;
}

#header h1 {
  font-size: 6rem;
  padding-top: 10rem;
  color: var(--nav-bg-darker);
}

h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--accent-color);
  padding-bottom: 100px;
}

.content-wrapper,
.video-wrapper,
.book-wrapper {
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10px;
  background-color: var(--alt-white);
  margin-bottom: 20px;
}

.sect,
.video-sect,
.book-sect {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid var(--nav-bg-darker);
  padding: 10px;
}

.collapse-content,
.video-content,
.book-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  padding: 0 10px;
  padding-top: 10px;
}

.collapse-content p,
.video-content p,
.book-content p {
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: var(--nav-bg-darker);
  color: var(--alt-white);
  width: 100%;
}

i {
  transition: transform 0.2s ease-out;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.2s ease-out;
}

.date-summary {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #header h1 {
    font-size: 4rem;
    padding-top: 5rem;
  }

  h2 {
    font-size: 2rem;
  }

}

.video-sect {
  justify-content: center;
  text-align: left;
}

.video-content {
  text-align: center;
}

.video-content p {
  max-width: 800px;
  margin: auto;
}

video {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.video-sect {
  justify-content: space-between;
  align-items: center;
}

/* Button */

#group-btn {
  margin-top: 20px;
  padding: 0.5rem 1rem;
  border-style: none;
  border-radius: 0.5rem;
}

/* Team */



#team {
  max-width: 75vw;
  margin-bottom: 1rem;
}

#charas-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.avatar {
  margin-top: 1em;
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  #charas-container {
    flex-direction: column;
  }
}
  

